@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
    @apply bg-cyan;
}
.hoverTransition{
    @apply transition duration-1000 opacity-75;
}

@keyframes textClip {
    from {
        
        clip-path: polygon(0% 0%, 0 100%, 0 100%, 0% 0%);
    }
    to {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%);
    }
}
@keyframes increaseBar {
    0%  { transform: scaleY( 0 ); }
    15% { transform: scaleY( 1 ); }
}